.custom-hero {
  height: 100vh;
}

.page-template-about .about {
  text-align: center;
  color: $color_white;
  font-size: 3rem;
  line-height: 10;
}  //***

div h2.story-header {  //***
  display: flex;
  justify-content: center;
}
div p.p1 {  //***
  width: 75%;
 margin-left: 10rem;  
}
div main div.about-content {
  margin-top: 3rem;
  margin-bottom: 4rem;
}