.custom-hero {
  height: 100vh;
 
  .page-template .entry-title{
    position: absolute;
    color: $color_white;
    text-transform: uppercase;
    margin-top: 21rem;
    margin-left: 12.5em; 
    font-weight: 300;
    font-style: normal;    
    font-size: 3em;
    font-family: $font_secondary_wide;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
  }
}

div.container {
 // position: sticky;
  padding-left: 20rem;

     div.entry-title {
       width: 50rem;

       h2.story-header {
         font-size: 2rem;
         font-family: $font_secondary_wide;
         font-weight: 600;
         font-style: normal;
         text-transform: uppercase;
         letter-spacing: 2px;
         display: flex;
         justify-content: center;
       }
    }
}

// span.s1 {
//   line-height: 1.75;
//   width: 50rem;
// }