/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-reply-title {
	font-family: $font_secondary_wide;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	color: $color_text-main;
	font-size: 1.75rem;
	letter-spacing: 1px;
}

.comment-content a {
	word-wrap: break-word;
	color: $color_green;
}
.bypostauthor {
	display: block;
}
div.comment-content {
	color: $color_text-main;

	cite.fn {
		font-weight: bold;
		font-style: normal;
	}
}
div.comment-metadata time {
	color: $color_med_grey;

} 

