
// .map {
//   position:absolute;  
//   height: 100%;
//   width: 45%;
// }
.page-template-find-us .entry-title {
  text-transform: uppercase;
  font-family: $font_secondary_wide;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 37px;
}

h2 {
  font-family: $font_secondary_wide;
  font-weight: 600;
  font-style: normal;
  font-size: 37px;
  letter-spacing: 1px;
  color: $color_purple;
  text-transform: uppercase;
}

.page-template-find-us .contact-para {
  width: 750px;
  word-spacing: 1px;
}

.page-template-find-us .site-content {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 1120px;
}

.page-template-find-us .content-area {
  border-right: $border-solid;
  padding-right: 5%;
  width: 1120px;
  display: flex;
  margin: 0 auto;
}

.page-template-find-us .required {
  color: $color_orange;
}

/* sidebar icons */
.page-template-find-us .contact-meta, i.fa {
  color: $color_text-main;
}