.site-footer {
  background-image: url('../../asset/dark-wood.png');
  padding-top: 4%;
  padding-bottom: 2%;
  color: $color__background-body;
  
    .site-info {
      display: flex;
      justify-content: space-around;   
      
        h3 {
          color: $color_orange;          
        }
    }
}   
// .contactInfo {
//   margin-left: 1.5em;
// }
.uppercase{
  text-transform: uppercase;
}
.copyright {
  align-self: center;
}
li, 
.media a{
  list-style-type: none;  
  text-decoration: none;
}
.logo-text {
  width: 15rem;
  margin-bottom: 8rem;
}
