.site-footer {
  background-image: url('../../asset/dark-wood.png');
  padding-top: 2%;
  padding-bottom: 2%;
  
    .site-info {  
      display: flex;
      
      div.contact {
        margin-left: 6rem;
      }
      div.business-hours {
        margin-left: 6rem;
        margin-right: 20rem;
      }

        h3 {
          color: $color_orange; 
          font-size: 19px;         
        }
    }
}   

a.contact:hover {
  text-decoration: underline;
}

p .bold {
  color: $color_white;
  font-family: $font_main;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}

.uppercase{
  text-transform: uppercase;
  font-family: $font_secondary_wide;
	font-weight: 600;
	font-style: normal;
  letter-spacing: 2px;
}

li,i, 
.media a{
  color: $color_white;
  list-style-type: none;  
  text-decoration: none;
  

  a .fa {
    padding-right: 10px;
    color: $color_white;
    line-height: 2rem;
    font-size: 1.25rem;
  }
}

.hour-info p {
  color: $color_white;

  span.bold {
  	font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    line-height: 2rem;
  }
}

img.logo-text {
  width: 17rem;
  margin-bottom: 8rem;
}

div.copyright {  
  align-self: center;
  text-transform: uppercase;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  color: $color_white;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
