.site-footer {
  background-image: url('../../asset/dark-wood.png');
  padding-top: 4%;
  padding-bottom: 2%;
  
    .site-info {
      display: flex;
      justify-content: space-around;   
      
        h3 {
          color: $color_orange; 
          font-size: 19px;         
        }
    }
}   
p .bold {
  color: $color_white;
  font-family: $font_main;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;

  // NOT WORKNG
  // .bold {
  //   font-weight: bold;
  //   font-style: normal;
  // }
}
.uppercase{
  text-transform: uppercase;
  font-family: $font_secondary_wide;
	font-weight: 600;
	font-style: normal;
  letter-spacing: 2px;
}
div.copyright {  //debug this! 
  align-self: center;
  text-transform: uppercase;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  color: $color_white;
}
li, 
.media a{
  list-style-type: none;  
  text-decoration: none;
}
.logo-text {
  width: 15rem;
  margin-bottom: 8rem;
}
