.logo-tent-white {
  height: 33px;
}

.main-navigation{
  display: flex;
  justify-content: space-between;

  .menu {
    font-family: $font_secondary_norm;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;

    .menu-item{
      padding-left: 1.5rem;   
    }
  }
}

.home .header-background {
  border-bottom: $border-solid;    
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: .9rem;
}
.header {
  display: flex;
  //justify-content: space-between;
  height: 50px;
  width: 1120px;
  margin: 0 auto;
}
.menu-main-menu-container {
  margin-left: 465px;
}
