.logo-tent-white {
  height: 60px;
  height: 33px;
  margin-left: 10rem;
  margin-top: 1em;
  color: $color_green;
  border-bottom: none;
}

.main-navigation{
  display: flex;
  justify-content: space-between;
  border-bottom: $border-solid;

  .menu {
    margin-right: 10rem;
    margin-top: 1em;
    font-family: $font_secondary_norm;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-transform: uppercase;
    color: $color_green;

    .menu-item{
      padding-left: 1.5rem;   
    }
  }
}

