//Shop stuff category

.home .shop-section {
  display: flex;
  justify-content: space-between;
}

.home .shop-stuff-content {
  border: 1px solid #e1e1e1;
  flex: 0 1 23.5%;
  border-top-width: 5px;
    img {
      height: 70px;
      width: 70px;
  }
}

.home .shop-stuff-content img{
  position: relative;
  margin-left: 5.95rem;
  margin-top: 1rem;
}

.home .shop-stuff-content p {
  text-align: center;
  font-size: 1.063rem;
  line-height: 1.75;
  padding-left: 4px;
  padding-right: 4px;
}

a.shop-button {
  text-decoration: none;
  background-color: $color_green;
  padding: 11px 20px;
  font-size: 0.9em;
  color: $color_white;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-left: 0 auto;
  position: relative;
}


// COME BACK TO THIS
.home .shop-button:hover {
  color: grey;
}

// .shop-stuff-content :hover{
//   color: $color_orange;
//   background-color: coral;
// }

