/* Inhabitent Journal */

.journal-post-page {
  display: flex;
  justify-content: space-between;
}
.blog .site-content {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 1120px;
}
.blog .content-area {
  border-right: $border-solid;
  padding-right: 5%;
  width: 1120px;
  display: flex;
  margin: 0 auto;
}
.blog,
.type-post .entry-header{
  position: relative;
}
.blog img.attachment-large {
  width: 47rem;
  padding-top: 2rem;
}
.post .entry-header .entry-title  a:hover {
  color: $color_yellow;
}
.content-area .type-post .entry-title {
  position: absolute;
  top: 0;
  background-color: $color_green;
  max-width: 75%;
  margin-top: 4rem;
  font-size: 2rem;
  padding: .75rem 1.5rem;
  color: $color_white;
  font-family: $font_secondary_wide;	
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2;


  a {
    text-decoration: none;
    color: $color_white;
  }
}
.post .entry-header img{
  width: 50rem;
}
.type-post .entry-meta {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $color_green;
  color: $color_white;
  padding: 2px 20px;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  margin-right: 0;
  margin-bottom: 6px;  
  text-transform: uppercase;

  .comments-link a {
    color: $color_white;
    text-decoration: none;
  }
}
span.cat-links {
  margin-right: 1rem;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: $color_green;
  }
}
span.tags-links {
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: $color_green;
  }
}
.blog div a.moretag {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  font-size: .9rem;
  line-height: 1;
  padding: .75rem 1.5rem;
  display: flex;
  width: 20%;
  margin-top: 20px;
  
  &:hover {
    background: $color_green;
    color:white;
    
    :before {
      color: white;
    }
  }
}
