/* Inhabitent Journal */

.journal-post-page {
  display: flex;
  justify-content: space-between;
  // margin-left: 0;
  // margin-right: 0;
  //margin-bottom: 0;
}

.blog .site-content {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 1120px;
}

.blog .content-area {
  border-right: $border-solid;
  padding-right: 5%;
  width: 1120px;
  display: flex;
  margin: 0 auto;
}

h2.widget-title {
  font-family: $font_secondary_wide;  
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  letter-spacing: 2.5px;
  color: $color_purple;

    span.day-of-the-week {
      font-family: $font_main;
      font-weight: bold;
      font-style: normal;
    }  
}

.blog,
.type-post .entry-header{
  position: relative;
}
.type-post .entry-title {
  position: absolute;
  top: 0;
  background-color: $color_green;
  max-width: 75%;
  margin-top: 2.25rem;
  font-size: 2rem;
  padding: .75rem 1.5rem;
  a {
    text-decoration: none;
    color: $color_white;
  }
}
.type-post .entry-meta {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* HOVER */
//EDIT


// a.read-more:hover {
//   color: $color_green;
// }
