/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Front page */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

.hero-banner {
  background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url('../../asset/home-hero.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

 /* HEADER for SHOP STUFF and INHIBITENT JOURNAL*/

 h2.header {
  font-family: $font_secondary_norm;
	font-weight: normal;
  font-style: normal;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;  
  color: $color_purple;
}

/* JOURNAL */
.home .journal-post-info {
  padding: .75rem;
  padding-bottom: 4rem;

  p.commented-dates {
    font-size: .75rem;
  }

  a.post-title {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font_secondary_wide;
    font-weight: 600;
    font-style: normal;
    color: $color_green;
    font-size: 1.3em;

    &:hover {
      color: $color_purple;
    }
  }  

  a.read-more {
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 20px;
    border: 0.5px solid black;
    font-family: $font_secondary_norm;
    font-weight: normal;
    font-style: normal;
    color: $color_purple;
    position: absolute;
    bottom: .75rem;
    left: .75rem;  
    font-size: 1rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    
     &:hover {
       background-color: $color_green;
       color: $color_white;
       border: 1px solid #19625d; 
       border: none;
     }
  }
}

div a.adventure-link:hover {
  color: $color_yellow;
}

div p a.read-more{
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 20px;
  border: 0.5px solid $color_white;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  padding: .8rem 1.2rem;

  &:hover {
    background: $color_green;
    border: 0.5px solid $color_green;
  }
}

.home .journal-content-post {
  border: $border-solid;
  flex: 0 1 32%;
  position: relative;
  //border-top-width: 5px;
} 

/* ADVENTURE */ 

.latest-adventures {
  display: flex;
  height: 600px;
  margin: 0 auto;
  width: 1120px;
  margin-bottom: 2rem;
    h3{
      font-weight: normal;
      margin-top: 0;
    }
    a {
      text-decoration: none;
      color: $color_white;
    }
}
.photo-1 {
  height: 100%;
  width: 50%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../asset/adventure-photos/canoe-girl.jpg) center;
  background-size: cover, cover;
  border-right: solid 10px white;
  font-size: 2.8rem;
}

.photo-2 {
  height: 50%;
  width: 100%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../asset/adventure-photos/beach-bonfire.jpg) center;
  background-size: cover, cover;
  border-left: solid 10px white;
  border-bottom: solid 10px white;
  font-size: 2rem;
   p{
     margin: 0;
   }
}
.photo-3 {
  height: 100%;
  width: 50%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../asset/adventure-photos/mountain-hikers.jpg) center;
  background-size: cover, cover;
  border-top: solid 10px white;
  border-left: solid 10px white;
  border-right: solid 10px white;
  font-size: 1.5rem;
}
.photo-4 {
  height: 100%;
  width: 50%;
  padding: 1.6rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .1)), url(../../asset/adventure-photos/night-sky.jpg) center;
  background-size: cover, cover;
  border-left: solid 10px white;
  border-top: solid 10px white;
  font-size: 1.5rem;
  }
  .photo-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .photo-bottom {
    display: flex;
    width: 100%;
    height: 50%;
  }
  .more-adventures {
    font-family: $font_secondary_norm;
    font-weight: normal;
    font-style: normal;
    margin-top: 1rem;
    font-size: 1.25rem;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $color_white;
    background-color: $color_green;
    &:hover {
      background: darken(#19625d, 10%);
      color: white;
    }
    &:visited {
      color: white;
    }
  }
.adventures li:first-child h3 {
  font-size: 3rem;
}
.journal-post-info {
  h3{
  margin-top: 0;
}
p {
  margin-bottom: 0;
}
}
