/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Front page */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

.hero-banner {
  background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url('../../asset/home-hero.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
 /* HEADER for SHOP STUFF and INHIBITENT JOURNAL*/

 h2.header {
  font-family: $font_secondary_norm;
	font-weight: normal;
  font-style: normal;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;  
}