/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.hero-banner {
  background-image: url('../../asset/home-hero.jpg');
  height: 100vh;
  background-size: cover;
}