/* SEARCH FORM */ 
.search .site-content {
  margin-right: auto;
  margin-left: auto;
  width: 1120px;
  display: flex;
}
.search .content-area{
  padding-right: 5%;
  border-right: 1px solid #e1e1e1;
  width: 73%;
}

.search .entry-header a {
  text-decoration: none;
  color: $color_green;

  &:hover {
    color: $color_purple;
  }
}  //***
.seach .page-header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}
.search h1.page-title {
  letter-spacing: 2px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 2.5rem;
}
.entry-summary p {
  display: flex;
  flex-direction: column;
}

 .entry-summary a.moretag {  //***
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  font-family: $font_secondary_norm;
  font-weight: normal;
  font-style: normal;
  font-size: .9rem;
  line-height: 1;
  padding: .75rem .5rem .75rem 1.5rem;
  display: flex;
  width: 20%;
  margin-top: 20px;
  
  &:hover {
    background: $color_green;
    color:white;
    border: none;
    
    :before {
      color: white;
    }
  }
}
  