/* SHOP STUFF */ 
.archive .content-area {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.archive .boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}
h1.page-title{
  text-align: center;
  text-transform: uppercase;
}
.product-post{
  border: 1px solid #e1e1e1;
  flex: 0 1 23%;
  max-width: 23%;
}