/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Sidebar*/
.contact-meta a {
	text-decoration: none;
	color: $color_green;
}
.contact-meta i {
	padding-right: 1em;	
}
.widget,
	ul {
		padding-left: 0;
		margin-left: 0;
	}
.widget a {
	color: $color_green;
	text-decoration: none;
	padding-left: 0;
	margin-left: 0;

	&:hover {
		color: $color_purple;
	}
}
.widget-title {
  margin-top: 4rem;
  font-family: $font_secondary_wide;  
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  letter-spacing: 2.5px;
  color: $color_purple;
}
.widget-area {
	margin-left: 5%;
	width: 31%;
}
span.day-of-the-week {
   font-family: $font_main;
   font-weight: bold;
   font-style: normal;
}